{% load static %}
<br>
<footer>
    <div class="footer footer-expand-sm bg-info" >
        <div class="container p-4">
            <div class="row">
              <div class="col" >
                <a style="color: black; font-weight: 900;">              
                COPYRIGHT © 2019 <a href="https://www.pycoders.nl/" target="_blank"><img src="{% static 'img/pycoders-icon.png' %}" alt=""></a>       
                </div>     
              
              <div class="col col-md-auto">
                
                  <a href="https://www.pycoders.nl/" target="_blank"> <img src="{% static 'img/facebook.png'%}" alt="facebook" class="mr-4"></a>
                  <a href="https://www.pycoders.nl/" target="_blank"> <img src="{% static 'img/twitter.png'%}" alt="twitter" class="mr-4"></a>
                  <a href="https://www.pycoders.nl/" target="_blank"> <img src="{% static 'img/github.png'%}" alt="github"></a>          
                 
              </div>
            </div>        
        </div>
    </div>

       <!--  
              <a class="btn btn-social btn-facebook" href="https://www.pycoders.nl/" >
                <span class="fa fa-facebook"></span> 
              </a>
              <a class="btn btn-social btn-twitter" href="https://www.pycoders.nl/">
                <span class="fa fa-twitter" style="width: 200px;"></span> 
              </a>
            <a class="btn btn-social btn-instagram" href="https://www.instagram.com/pycoders.nl/">
                <span class="fa fa-instagram"></span> 
            </a>-->
</footer>